body{
    margin:0;
}
*{
    scroll-behavior: smooth;
}
nav{
    /* border:2px solid salmon; */
    display:flex;
    height:3vmax;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.184);
    position: sticky;
    top:0;
    background-color: white;
    z-index: 10000;
}
.left{
    /* border: 2px solid green; */
    width:20%;
    display: flex;
    justify-content: center;
}
.left>a{
    text-decoration: none;
    font-size: 2vmax;
    color: rgb(180, 20, 20);
    display: flex;
    justify-content: center;
    align-self: center;
    
}
.midp{
    /* border:2px solid rgb(233, 11, 37); */
    width:60%;
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}
.midp>a{
    text-decoration: none;
    font-size: 1.4vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.midp>a:hover{
    /* border-bottom: 4px solid red; */
    color: crimson;
}
.right{
    /* border:2px solid blue; */
    width:20%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.right>img{
    /* border: 2px solid yellow; */
    width:2.5vmax;

}

/* ------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------------------- */

section.home{
    /* border:2px solid blue; */
    height:90vh;
    background: linear-gradient(to right,rgb(175, 169, 169),rgb(62, 62, 112));
    display:flex;

}
.container{
    /* height:100%; */
    width:100%;
    /* border:1px solid red; */
    display:flex;
}
#rightcontainer{
    /* border:1px solid red; */
    display:flex;
    justify-content: flex-end;

}
#rightcontainer>img{
    margin-right: 7vh;
    filter: drop-shadow(0 0 20px rgb(58, 57, 57));
    
}
div#leftcontainer{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 5vmax;
    box-sizing: border-box;
    justify-content: center;


}
#leftcontainer>h1{
    font-size: 5vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border:1px solid red; */
}
#leftcontainer>h2{
    font-size: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border:1px solid red; */
    margin-top: -10%;
}
#leftcontainer>p{
    font-size: 1vmax;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border:1px solid red; */
    margin-left: 4%;
   
}
#leftcontainer>button{
    width:10vmax;
    padding: 0.8vmax; 
    border: 1px solid red;
    border-radius: 2vmax;
    background-color: brown;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vmax;
    margin-left: 4%;
    cursor: pointer;
}
#leftcontainer>button:hover{
    /* border-bottom: blue; */
    color:aqua;
}

/*------------------------->--------------------------------------------*/
/* -------------------------------------------------------------------------- */


/* .products{
    height: 50vmax;
    border:2px solid red;
} */
#products>h1{
   width:30%;
   text-align: center;
   font-size: 3vmax;
   border-bottom: 4px solid red;
   margin: 2vmax auto;
   
}
.productcontainer{
   border: 2px solid black;
   margin:auto;
   /* background-color: aquamarine; */
   display: flex;
   height:100%;
   width:80%;
   flex-wrap: wrap;
   justify-content: center;

}
.product1{
    /* width:22vmax;*/
    /* height:30vmax;  */
    /* border:1px solid red; */
    /* padding:2vmax; */
    transition: 0.3s;
    cursor: pointer;
    display:flex;
    flex-direction: column;
   align-items: center;
   margin:1.5vmax; 
}
.product1>img{
    width:20vmax;
}
.product1>h4{
    margin:2px;
}
.product1>h5{
    margin:0px;
}
.product1:hover{
    transform: translateY(-10px);
}

/*------------------------->--------------------------------------------*/
/* ------------------------------------------------------------------------------ */

footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    align-items: center;
  }
  
  .leftFooter {
    width: 20%;
    display: flex;
  
    flex-direction: column;
    align-items: center;
  }
  .leftFooter > h4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .leftFooter > p {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .leftFooter > img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
  }
  
  .midFooter {
    width: 60%;
  
    text-align: center;
  }
  
  .midFooter > h1 {
    font-size: 4vmax;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: crimson;
  }
  .midFooter > p {
    max-width: 60%;
  
    margin: 1vmax auto;
  }
  
  .rightFooter {
    width: 20%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightFooter > h4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.4vmax;
    text-decoration: underline;
  }
  .rightFooter > a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    margin: 0.5vmax;
  }